body{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}
li{
    list-style-type: none;
}

ul{
    margin: 0%;
    padding: 0%;
}
input{
    padding:10px;
}
label{
    margin-left: 10px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}